.menu {
  display: none;
}

.menu__item {
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: $color-text-dark;
  }
  a:hover {
    color: $color-hover;
  }
}

@media #{$desktop} {
  .menu {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-grow: 0.5;
    margin: 0 auto;
    order: 2;
  }

  .menu__item {
    padding: 13px 0;
    a {
      font-size: 16px;
      color: $color-text;
    }
  }
}
