.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
}

.header__outer-container {
  min-width: 320px;
  padding: 0 15px;
}

.header__inner-container {
  width: auto;
  margin: 0 auto;
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

@media #{$mobile-wide} {
  .header__inner-container {
    align-items: baseline;
  }
}

@media #{$tablet} {
  .header__inner-container {
    width: 690px;
    max-width: 820px;
    padding: 30px 0 0;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

@media #{$desktop} {
  .header {
    max-width: 1920px;
  }

  .header__inner-container {
    width: 1290px;
    max-width: 1290px;
    padding: 30px 0 0;
    flex-wrap: wrap;
  }
}
