.logo {
  min-width: 290px; //было ширина 290
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Impact', Arial, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__show {
  font-size: 34.05px;
  color: $color-static;
  span {
    color: $color-text;
  }
}

.logo__description {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
}

@media #{$mobile-wide} {
  .logo {
    width: 290px;
  }
}

@media #{$tablet} {
  .logo {
    min-width: 260px;
    width: 260px;
    order: 1;
  }

  .logo__show {
    font-size: 32.98px;
  }

  .logo__description {
    font-size: 12px;
    line-height: 16px;
  }
}

@media #{$desktop} {
  .logo {
    width: 280px;
  }

  .logo__show {
    font-size: 40.9px;
  }
}
