.phone {
  width: 200px;
  font-style: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  order: 2;
  a {
    color: $color-text;
  }
}

.phone__body {
  color: $color-static;
}

.phone:hover .phone__body {
  color: $color-hover;
}

@media #{$tablet}  {
  .phone {
    width: 268px;
    text-align: right;
    font-size: 30px;
    margin-left: auto;
  }
}

@media #{$desktop}  {
  .phone {
    width: 300px;
    font-size: 36px;
    order: 3;
  }
}
