.request {
  margin: 0 auto;
  width: 290px;
}

.request__field {
  width: 100%;
  height: 48px;
  padding: 19px 23px;
  background-color: $color-form-field;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  color: $color-text;
}

.request__field:hover::placeholder {
  color: $color-text;
}

.request__field:active {
  color: $color-text;
  box-shadow: 1px 1px 7px 0px $color-glow,
              -1px -1px 7px 0px $color-glow;
}

.request__field:hover {
  color: $color-text;
}

.request__field:nth-child(even) {
  margin: 20px auto;
}

.request__container {
  margin: 0 auto;
  position: relative;
}

.request__agreement {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}

.request__agreement:focus {
  outline: 2px solid $color-static;
}

.request__agreement + label {
  display: block;
  font-weight: 400;
  font-size: 10px;
  color: $color-text;
  padding: 5px 0 0 30px;
  text-align: left;
  a {
    color: $color-static;
    text-decoration: underline;
  }
  &::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 6px;
    background: $color-text;
    z-index: 2;
  }
  &::after {
    display: none;
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: $color-static;
    z-index: 3;
  }
}

.request__agreement:checked + label {
  &::after {
    display: block;
  }
}

.request__submit {
  width: 291px;
  margin: 30px auto 85px;
  padding: 18px 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  color: $color-text;
  background-color: $color-static;
}

@media #{$mobile-wide} {
  .request {
    width: 100%;
    max-width: 390px;
  }
}

@media #{$tablet} {
  .request {
    display: flex;
    flex-wrap: wrap;
    width: 690px;
    max-width: 690px;
  }

  .request__field {
    width: 330px;
    height: 48px;
  }

  .request__field:nth-child(odd) {
    margin: 0 auto 20px 0;
  }

  .request__field:nth-child(even) {
    margin: 0 0 20px auto;
  }

  .request__agreement + label {
    font-size: 11px;
    margin: 0 auto;
  }

  .request__submit {
    width: 330px;
  }
}

@media #{$desktop} {
  .request {
    width: 850px;
    max-width: 850px;
  }

  .request__field {
    width: 410px;
    height: 64px;
    font-size: 18px;
  }

  .request__agreement {
    width: 24px;
    height: 24px;
  }

  .request__agreement + label {
    font-size: 12px;
    &::before {
      width: 24px;
      height: 24px;
    }
    &::after {
      top: 6px;
      left: 6px;
      width: 12px;
      height: 12px;
    }
  }

  .request__submit {
    width: 410px;
    font-size: 18px;
    margin: 50px auto 105px;
    padding: 25px 5px;
  }
}
