//$mobile: (max-width: 767px);
$tablet: (min-width: 690px);
$desktop: (min-width: 1290px);

$color-hover: rgb(255, 230, 64);
$color-static: rgb(80, 177, 215);
$color-popup: #2095c3;
$color-bg: rgb(85, 85, 85);
$color-form-field: rgba(255, 255, 255, 0.25);
$color-form-field-hover: rgba(255, 255, 255, 0.4);
$color-form-field-dark: rgba(255, 255, 255, 0.25);
$color-form-field-active: #96d0e7;
$color-text: #ffffff;
$color-text-dark: #000000;
$color-elem-dark: #313131;
$color-elem-dark-hover: #484848;
$color-form-focus: #805e78;
$color-glow: #50b1d7;
$color-stick: #555555;
